@import "tailwindcss";

.studies article{
    @apply p-4
    bg-linear-to-tr from-zinc-200 via-gray-400 to-lime-500
    rounded-2xl
}

.studies article h2 {
    @apply text-2xl w-full text-center font-bold
    md:text-4xl
}

.studies article p{
    @apply text-justify text-xl font-medium
    md:text-2xl
}

.studies article h3{
    @apply text-center text-xl p-3.5 font-semibold
    md:text-2xl
}

.studies article img{
    @apply
    mx-auto p-2.5 rounded-3xl
}

.studies article span{
    @apply
    underline decoration-pink-500 underline-offset-2
    text-xl font-medium
    md:text-2xl
}