@import "tailwindcss";

main.policy{
}

main.policy nav a{
    all:revert-layer;
}

main.policy article{
    @apply bg-blue-500
}

main.policy h1{
    font-size: 1.5rem;
    @apply underline underline-offset-1 decoration-black font-extrabold
}