@import "tailwindcss";

.hobbies section article{
    @apply
    bg-linear-to-b from-green-400 via-gray-300 to-neutral-300
    p-2.5
    rounded-2xl
    border-3 border-gray-600
}

.gaming{
    @apply
    grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4
    items-start justify-items-stretch
    sm:items-center sm:justify-items-center
    gap-3
    md:gap-5
}

.gaming h2,
.gaming p{
    @apply w-full
}

.gaming figure{
    @apply
    col-span-1 sm:col-span-2 lg:col-span-2
    w-full sm:w-auto
    grid grid-cols-1 place-items-center justify-center
}

.hobbies section article h2{
    @apply text-2xl text-center
    w-full
    flex justify-center flex-row
    gap-5
}

.hobbies section article h2 svg{
    @apply text-blue-950 w-6
}

.hobbies section article p{
    @apply text-lg text-justify
}

.hobbies section figure{
    @apply
    grid grid-cols-1 place-items-center justify-center
}

.hobbies section figure img{
    @apply rounded-xl max-w-full h-auto
}

.hobbies section figure figcaption{
    @apply text-center text-lg md:text-xl
}

